= render "common_content"

- content_for :right_contents do
  = @twitter_processor.render
  = @real_time_info_processor.render_meta_datum( include_train_location_infos: true )
  = ::TokyoMetro::App::Renderer::RealTimeInfos::SideMenu::LinksToRailwayLinePages.new( request ).render

= ::Railway::Line::InfoDecorator::Title.render_in_train_operation_page( @railway_line_infos )
= @real_time_info_processor.render( include_train_location_infos: true )
