= render "common_content"

- content_for :right_contents do
  = @twitter_processor.render
  = @real_time_info_processor.render_meta_datum( include_train_location_infos: false )
  = ::TokyoMetro::App::Renderer::RealTimeInfos::SideMenu::LinksToRailwayLinePages.new( request ).render

- station_info_decorated = @station_info.decorate

= station_info_decorated.title.render_in_train_operation_page
= station_info_decorated.render_latest_passenger_survey

%div{ id: :links_to_station_info_pages , class: :clearfix }
  = station_info_decorated.title.of_links_to_station_info_pages( with: request ).render
  = ::TokyoMetro::App::Renderer::SideMenu::Link::List.to_station_info_pages( request , @station_info ).render

= @real_time_info_processor.render( include_train_location_infos: false )
