- # 丸ノ内線、千代田線、有楽町線・副都心線の所要時間情報
- # @note 部分テンプレート travel_time_info_common を内部で呼び出す。
%div{ class: [ :railway_lines  , class_name_of_whole_domain ] }
  - railway_lines.each.with_index(1) do | railway_line , i |
    :ruby
      h = {
        railway_line: railway_line ,
        special_proc_of_station: eval( "special_proc_of_station_#{i}" ) ,
        special_proc_of_section: eval( "special_proc_of_section_#{i}" ) ,
        through_operation_a: eval( "through_operation_#{i}a" ) ,
        through_operation_a_info: eval( "through_operation_#{i}a_info" ) ,
        through_operation_b: eval( "through_operation_#{i}b" ) ,
        through_operation_b_info: eval( "through_operation_#{i}b_info" )
      }
    = render( "travel_time_info_common" , h )