= render "common_content"

- content_for :right_contents do
  = @twitter_processor.render
  = @real_time_info_processor.render_meta_datum( include_train_location_infos: false )

= ::RailwayLineDecorator.render_title_of_railway_lines( @railway_lines )
= @real_time_info_processor.render( include_train_location_infos: false )

%div{ id: :railway_line_contents }
  %div{ id: :train_info }
    = ::RailwayLineDecorator.render_title_of_train_info
  %div{ id: :top_links }
    %p<
      = "路線時刻表 (Timetable of this line)"
  %div{ id: :travel_time }
    = ::TravelTimeInfoDecorator.render_sub_top_title
    = ::TokyoMetro::App::Renderer::TravelTimeInfo::RailwayLine.instance_of( request , @railway_lines ).render
  = ::TokyoMetro::App::Renderer::WomenOnlyCarInfo.new( request , @railway_lines ).render
