= render "common_content"

- content_for :right_contents do
  = twitter_railway_line_info

= ::RailwayLineDecorator.render_title_of_railway_lines( @railway_lines )
%div{ id: :railway_line_contents }
  %div{ id: :train_info }
    = ::RailwayLineDecorator.render_title_of_train_info
  %div{ id: :top_links }
    %p<
      = "路線時刻表 (Timetable of this line)"
    %p<
      = "リアルタイム運行情報 (Current train position)"
  = render_travel_time_info
  = render_women_only_car_infos