- real_time_info_processor = ::TokyoMetro::App::Renderer::RealTimeInfos.new( request , @railway_lines )

= render "common_content"

= ::RailwayLineDecorator.render_title_of_train_location( @railway_lines )
= real_time_info_processor.render( include_train_location_infos: true )

- content_for :right_contents do
  = ::TokyoMetro::App::Renderer::Twitter.new( request , :railway_lines , @railway_lines ).render
  = real_time_info_processor.render_meta_datum( include_train_location_infos: true )