- real_time_info_processor = ::TokyoMetro::ApiDecorator::RealTimeInfos.new( request , @railway_lines )

= render "common_content"

= ::TrainLocationDecorator.render_top_title( request , domain_id_name: :train_location_title )
%div{ id: :railway_lines }
  = real_time_info_processor.render( include_train_locations: false , controller: :train_location , options: :index_of_train_location )
  - # = ::RailwayLineDecorator.render_matrixes_of_all_railway_lines( including_yurakucho_and_fukutoshin: true , make_link_to_railway_line: true , controller: :train_location )

- content_for :right_contents do
  = ::TokyoMetro::App::Renderer::Twitter.new( request , :tokyo_metro ).render
  = real_time_info_processor.render_meta_datum( include_train_locations: false )