- station_ids = @station_info.station_infos_including_other_railway_lines.pluck( :id )
- @railway_lines = @station_info.railway_lines_of_tokyo_metro

- station_info_decorated = @station_info.decorate

- real_time_info_processor = ::TokyoMetro::ApiDecorator::RealTimeInfos.new( request , @railway_lines )

= render "common_content"

- content_for :right_contents do
  = ::TokyoMetro::App::Renderer::Twitter.new( request , :railway_lines , @railway_lines ).render
  = real_time_info_processor.render_real_time_info_and_update_button_of_train_informations( include_train_locations: false )

= station_info_decorated.render_title_of_train_information
= station_info_decorated.render_latest_passenger_survey

%div{ id: :links_to_station_info_pages }
  = station_info_decorated.render_title_of_links_to_station_info_pages
  = ::TokyoMetro::App::Renderer::SideMenu::Link::List.to_station_info_pages( request ).render

= real_time_info_processor.render( include_train_locations: false )