- station_info_decorated = @station_info.decorate

= render( "common_content" )
= station_info_decorated.title.render_in_station_timetable_page

%div{ id: :links_to_station_info_pages , class: :clearfix }
  = station_info_decorated.title.of_links_to_station_info_pages( with: request ).render
  = ::TokyoMetro::App::Renderer::SideMenu::Link::List.to_station_info_pages( request , @station_info ).render

= ::TokyoMetro::App::Renderer::StationTimetable::Group.new( request , @station_info , @station_timetable_infos ).render
