= render "common_content"

- content_for :right_contents do
  = ::TokyoMetro::App::Renderer::Twitter.new( request , :railway_lines , @station_info.railway_lines_of_tokyo_metro ).render

= @station_info.decorate.render_title_of_fare
%div{ id: :fare_contents }
  %div{ id: :fare_infos }
    = @station_info.decorate.render_fare_title_of_this_station
  %ul{ id: :links_to_railway_line_pages , class: :links }
    - ::RailwayLine.tokyo_metro( including_branch_line: false ).each do | railway_line |
      - railway_line_decorated = railway_line.decorate
      %li{ class: :small }
        = link_to_unless_current( "" , url_for( railway_line: railway_line_decorated.railway_line_page_name ) )
        %div{ class: :link_to_railway_line_page }
          = railway_line_decorated.render_railway_line_code( small: true )
          = railway_line_decorated.render_name( suffix_ja: "の各駅まで" , prefix_en: "To stations on" )
  = ::TokyoMetro::App::Renderer::FareTable::Group.new( request , @station_info , @railway_line_of_terminal_station ).render