= render "common_content"

= station_facility_title_of_each_station
= station_info_links
= render partial: "google_map"

%div{ id: :station_facility_contents }
  %div{ id: :station_facility_platform_infos }
    = ::StationFacilityPlatformInfoDecorator.render_sub_top_title
    = platform_infos_of_railway_lines
  %div{ id: :station_facility_infos }
    = ::BarrierFreeFacilityDecorator.render_sub_top_title
    = barrier_free_facility_infos