- station_info_decorated = @station_info.decorate
- all_exit_infos = @point_infos.select( &:exit? ).sort_by( &:code_as_instance )

- real_time_info = ::TokyoMetro::App::Renderer::RealTimeInfos.new( request , @railway_lines.except_for_branch_lines )

= render "common_content"

= station_info_decorated.render_title_of_station_facility
= station_info_decorated.render_latest_passenger_survey

= real_time_info.render( include_train_location_infos: false )

= station_info_decorated.render_tokyo_metro_railway_lines( request )
= station_info_decorated.render_railway_lines_except_for_tokyo_metro


%div{ id: :links_to_station_info_pages }
  = station_info_decorated.render_title_of_links_to_station_info_pages
  = ::TokyoMetro::App::Renderer::SideMenu::Link::List.to_station_info_pages( request , station_info: @station_info ).render

%div{ id: :exits_and_map , class: :clearfix }
  %ul{ id: :exits }
    - [ all_exit_infos.select( &:opened? ) , all_exit_infos.select( &:closed? ) ].each do | group |
      - group.each do | exit_info |
        = exit_info.decorate.render_in_station_facility_page
  %iframe{ id: :map , src: @station_info.decorate.google_map.url , frameborder: 0 }

%div{ id: :station_facility_contents }

  %div{ id: :station_facility_platform_infos }
    = ::StationFacilityPlatformInfoDecorator.render_sub_top_title

    = ::TokyoMetro::App::Renderer::StationFacility::Platform.make_list( request , @station_facility ).render

  %div{ id: :station_facility_infos }
    = ::BarrierFreeFacility::InfoDecorator.render_sub_top_title
    = @station_facility.decorate.render_barrier_free_facility_infos