- regexp_of_parentheses = ApplicationHelper.regexp_for_parentheses_ja

- operator_name_ja = operator.name_ja_to_haml
- operator_name_en = operator.name_en_to_haml
- css_name_of_operator_rounded_square = operator.css_class_name

%div{ class: [ :document_info_box_normal , css_name_of_operator_rounded_square ] }
  = oprator_color_box
  %div{ class: :operator_name }
    %div.text_ja<
      - if regexp_of_parentheses =~ operator_name_ja
        - out_of_parentheses = operator_name_ja.gsub( regexp_of_parentheses , "" )
        - in_parentheses =  $1
        = out_of_parentheses
        %span.sub<
          = in_parentheses
      - else
        = operator_name_ja

    %div.text_en<
      - if regexp_of_parentheses =~ operator_name_en
        - out_of_parentheses = operator_name_en.gsub( regexp_of_parentheses , "" )
        - in_parentheses =  $1
        %div.main<
          = out_of_parentheses
        %div.sub<
          = in_parentheses
      - else
        = operator_name_en

  %div{ class: :color_info }
    %div{ class: :web_color }<
      = operator.color
    - if operator.color.present?
      %div{ class: :rgb_color }<
        = ApplicationHelper.rgb_in_parentheses( operator.color )