- regexp_of_parentheses = ApplicationHelper.regexp_for_parentheses_ja

- railway_line_name_ja = railway_line.name_ja_with_operator_name_precise
- railway_line_name_en = railway_line.name_en_with_operator_name_precise
- css_name_of_railway_line_rounded_square = railway_line.css_class_name

%div{ class: [ :document_info_box_normal , css_name_of_railway_line_rounded_square ] }
  %div{ class: :top }
    = color_box
    = railway_line.render_railway_line_code( must_display_line_color: false )
    %div{ class: :color_info }
      %div{ class: :web_color }<
        = railway_line.color
      - if railway_line.color.present?
        %div{ class: :rgb_color }<
          = ApplicationHelper.rgb_in_parentheses( railway_line.color )

  %div{ class: :railway_line_name }
    %div{ class: :text_ja }<
      - if regexp_of_parentheses =~ railway_line_name_ja
        - out_of_parentheses = railway_line_name_ja.gsub( regexp_of_parentheses , "" )
        - in_parentheses =  $1
        %div{ class: :main }<
          = out_of_parentheses
        %div{ class: :sub }<
          = in_parentheses
      - else
        = railway_line_name_ja

    %div{ class: :text_en }<
      - if regexp_of_parentheses =~ railway_line_name_en
        - out_of_parentheses = railway_line_name_en.gsub( regexp_of_parentheses , "" )
        - in_parentheses =  $1
        %div{ class: :main }<
          = out_of_parentheses
        %div{ class: :sub }<
          = in_parentheses
      - else
        = railway_line_name_en