- regexp_of_parentheses = ApplicationHelper.regexp_for_parentheses_ja
- class_name_base = ::DocumentHelper.train_type_css_class_in_document( train_type )
- class_name = [ class_name_base ]

- unless train_type.color == "\#333333"
  - class_name << :train_type_displayed
- else
  - class_name << :train_type_displayed_black

- train_type_in_api_name_ja = train_type.train_type_in_api.name_ja_normal
- train_type_in_api_name_en = train_type.train_type_in_api.name_en_normal

%div{ class: [ :document_info_box_wide , :box_area ] }
  %div{ class: class_name }
    %div{ class: :train_type_name_displayed }
      %div{ class: :text_ja }<
        = train_type_in_api_name_ja
      %div{ class: :text_en }<
        = train_type_in_api_name_en
  %div{ class: :right }
    %div{ class: :train_type_name }
      - if regexp_of_parentheses =~ train_type_in_api_name_ja
        - out_of_parentheses = train_type_in_api_name_ja.gsub( regexp_of_parentheses , "" )
        - in_parentheses =  $1
        %div{ class: :name }<
          = out_of_parentheses
        %div{ class: :small }<
          = in_parentheses
      - else
        %div{ class: :name_ja_normal }<
          = train_type_in_api_name_ja
      %div{ class: :name_en_normal }<
        = train_type.train_type_in_api.name_en_normal
      %div{ class: :same_as }<
        = train_type.same_as
      - if train_type.note.present?
        - regexp = /(（.+）)\Z/
        - if regexp =~ train_type.note
          %div{ class: :note }<
            = train_type.note.gsub( regexp , "" )
          %span{ class: :note_sub }
            = $1
        - else
          %div{ class: :note }<
            = train_type.note
    %div{ class: :color_infos }
      %div{ class: :color_info }
        %div{ class: :web_color }<
          = train_type.bgcolor
        %div{ class: :rgb_color }<
          = ApplicationHelper.rgb_in_parentheses( train_type.bgcolor )
      %div{ class: :color_info }
        %div{ class: :web_color }<
          = train_type.color
        %div{ class: :rgb_color }<
          = ApplicationHelper.rgb_in_parentheses( train_type.color )