%head
  %meta{ :charset => 'utf-8' }
  - default_title = ::ApplicationHelper.common_title_ja
  - actual_title = @title ? "#{@title} - #{default_title}" : default_title
  %title<
    = actual_title

  %meta{:content => @meta_keywords ? @meta_keywords : "" , :name => "keywords"}
  %meta{:content => @meta_discription ? @meta_discription : "" , :name => "description"}

  - # = stylesheet_link_tag( 'application', media: 'all', 'data-turbolinks-track' => true )
  - # = javascript_include_tag( 'application', 'data-turbolinks-track' => true )
  = stylesheet_link_tag( 'application', media: 'all' )
  = javascript_include_tag( 'application' )

  - # = javascript_include_tag( "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" , type: "text/javascript" )
  - # = javascript_include_tag( "http://d3js.org/d3.v3.min.js" , "charset" => "utf-8" , "data-turbolinks-track" => true )

  = javascript_include_tag( ::TokyoMetro.google_maps_javasciprt_uri , type: "text/javascript" )
  = csrf_meta_tags
  = favicon_link_tag( "favicon.ico" )
