- content_for :header do
  %div{ class: :top_title }<>
    = ::ApplicationHelper.common_title_ja
    %span{ class: :top_subtitle }<
      = ::ApplicationHelper.common_title_en
  %div{ class: :top_title_to_fb }<
    != "By" + "&nbsp;"
    = link_to( "Shu Foujita" , "http://ja-jp.facebook.com/shu.fujita.u" )

- content_for :side_menu do
  = ::TokyoMetro::App::Renderer::SideMenu::NowDeveloping.new( request ).render
  = ::TokyoMetro::App::Renderer::SideMenu.render_all( request )